html, body {
    width: 100%;
    margin: 0;
    padding: 0;

}
header {
    text-align: center;
    position: fixed;
    top: 0;
    background-color: #444;
    width: 100%;
}

main {
    margin-top: 200px;
/*     question 15     -----------------------------------------*/
    text-decoration: line-through;
}

li {
    margin-bottom: 10px;
}

/* ------------------ question 3 -------------------- */
#thisblue {
    color: blue;
}

/*   ----------------- question 4 and 5 and 6 ------------------- */
.images {
    display: flex;
    flex-flow: row wrap;
}
.images h3 {
    display: block;
    width: 100%;
}
.images img[alt="Image 2"] {
    border: 2px solid blue;
    padding: 3px;
}
.background {
    width:200px;
    height:200px;
    background-image: url('images/tree.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 /*  ---------------  question 7 -----------------------*/
.spansection span:nth-child(10) {
    background-color: aqua;
}
.spansection span:nth-child(1) {
    background-color: green;
}
.spansection span:nth-child(2) {
    background-color:#111;
}
.spansection span:nth-child(3) {
    background-color:#222;
}
.spansection span:nth-child(4) {
    background-color: #333;
}
.spansection span:nth-child(5) {
    background-color: #444;
}
.spansection span:nth-child(6) {
    background-color: #555;
}
.spansection span:nth-child(7) {
    background-color: #666;
}
.spansection span:nth-child(8) {
    background-color: #777;
}
.spansection span:nth-child(9) {
    background-color: #888;
}
/* ----------------- question 8  the rest at the bottom of the page -----------*/
.mediaquery {
    background-color: blue;
    width: 5rem;
    height: 5rem;
}
/* ---------------- question 9 ------------------------------------- */
.box {
    position: relative;
    left: 0;
}
.relative {
    position: relative;
    left:10rem;
    box-sizing: border-box;
}
.absolute {
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
}
/* -- for end of question 9 and  question 10 see header and main on top of this file -*/
/* ------------------   question 11 -------------------------------------*/

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.item {
    flex-grow: 1;
}

/*  ------------------------question 12 -------------------------------- */
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, 150px);
    border: 2px dashed darkgreen;
    grid-gap: 5px;
}
.wrapper div {
    background-color: lawngreen;
    border: 2px solid blue;
}
.wrapper .two {
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: cyan;
}
.wrapper .three {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: yellow;
}
.wrapper .seven {
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: orangered;
}



/*  ------------------------- question 13 ---------------------------------------*/
.classquestion13 {
    color: blueviolet;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}
/* ---------------------------- question 14 ------------------------*/
footer ul li a:visited {
    color: black;
}

footer ul li a:hover {
    color: lightgreen;
}

/*---------------------- question 15 ------------------------------------- */





span {
    width: 95%;
   padding: .5rem;
    border: 1px solid black;
    margin: .5rem;
    display: inline-block;
}
      
.container {
    border: 2px solid black;
}

.item {
    border: 2px solid blue;
    height: 10rem;
    width: 10rem;
    margin: 1rem;  
}

.mediaquery {
    border: 2px solid black;
}

.box {
    border: 2px solid black;
    height: 20rem;
    width: 20rem;
}

.relative, .absolute {
    border: 2px solid blue;
}

.relative {
    height: 10rem;
    width: 10rem;
}

.absolute {
    height: 5rem;
    width: 5rem;
}



/* ------------------ media query question 8 --------------*/

@media only screen and (min-width: 768px) {
    .mediaquery {
        background-color: yellow;
        width: 7rem;
        height: 7rem;
    }  
}
@media only screen and (min-width: 1024px) {
    .mediaquery {
        background-color: red;
        width: 10rem;
        height: 10rem;
    }  
}
@media only screen and (min-width: 1440px) {
    .mediaquery {
        background-color: purple;
        width: 12rem;
        height: 12rem;
    }  
}